<%- include('header') %> 

  <div class="bg-light flex-fill">
    <div class="p-2 d-md-none d-flex text-white bg-success">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="p-4">
        <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
                <li class="breadcrumb-item">Vue globale</li>
                <li class="breadcrumb-item">médecins</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between">
            <h5>Médecins</h5>
        </div>
        <hr>
      <div class="container">
        <div class="row">
            <div class="col">
              <table class="table table-striped mx-auto">
                <thead class="table-success text-dark">
                  <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Numéro de Téléphone</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% medecins.forEach(medecin => { %>
                    <tr>
                      <td><%= medecin.Medecin_Id %></td>
                      <td><%= medecin.Medecin_Nom %></td>
                      <td><%= medecin.Medecin_Prenom %></td>
                      <td><%= medecin.Medecin_NumeroTelephone %></td>
                      <td>
                        <div class="btn-group">
                          <form method="get" action="/pharmacie/medecins/modifier/<%= medecin.Medecin_Id %>">
                            <button class="btn btn-link btn-sm" type="submit"><i class="fas fa-pen-to-square"></i></button>
                          </form>
                          <form method="post" action="/pharmacie/medecins/supprimer/<%= medecin.Medecin_Id %>">
                            <button id ="boutonsModifer" class="btn btn-link btn-sm" type="submit"><i class="fas fa-times"></i></button>
                          </form>
                        </div>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              
              <br>
              <hr>

              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="bg-light rounded formulaire-ajout" style="border: 2px solid #343a40; padding: 20px;">
                    <h3 class="text-success text-center mb-4">Ajouter un médecin</h3>
                    <form action="/phamacie/medecins/ajouter" method="POST">
                      <div class="mb-3">
                        <label class="form-label" for="nom">Nom du médecin :</label>
                        <input class="form-control" type="text" name="nom" id="nom" required>
                        <!-- Affichage des erreurs pour le nom -->
                        <% if (typeof errors !== 'undefined' && errors.includes('Le nom saisi est invalide.')) { %>
                          <div class="invalid-feedback" style="display: block;">
                            Le nom saisi est invalide.
                          </div>
                        <% } %>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="prenom">Prénom du médecin :</label>
                        <input class="form-control" type="text" name="prenom" id="prenom" required>
                        <!-- Affichage des erreurs pour le prénom -->
                        <% if (typeof errors !== 'undefined' && errors.includes('Le prénom saisi est invalide.')) { %>
                          <div class="invalid-feedback" style="display: block;">
                            Le prénom saisi est invalide.
                          </div>
                        <% } %>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="numeroTelephone">Numéro de Téléphone :</label>
                        <input class="form-control" type="text" name="numeroTelephone" id="numeroTelephone" required>
                        <!-- Affichage des erreurs pour le numéro de téléphone -->
                        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                          <div class="alert alert-danger">
                              <% errors.forEach(function(error) { %>
                                  <p><%= error %></p>
                              <% }); %>
                          </div>
                      <% } %>
                      </div>
                            
                              <!-- Bouton de soumission -->
                              <div class="text-center">
                                <button type="submit" class="btn btn-success">Ajouter</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
      </div>
    </div>
    <script>
      introJs().setOptions({
  steps: [
    {
    intro: "C'est dans cette page que vous pourrez : visualiser, ajouter, modifier, et supprimer des médecins"
  }, {
    element: document.querySelector('.table'),
    intro: "Ce tableau liste les médecins inscrits dans la base de données"
  }, {
    element: document.querySelector('.btn-group'),
    intro: "Ces boutons permettent d'effectuer la modification, ou la suppression des données concernant un médecin"
  }, {
    element: document.querySelector('.formulaire-ajout'),
    intro: "Ce formulaire permet d'ajouter un médecin à la base de données"
  }
],
            dontShowAgain: true, // Option pour ne pas afficher à nouveau l'introduction
            doneLabel: "Terminer", 
            showStepNumbers: false, 
            nextLabel: "Suivant", 
            prevLabel: "Précédent",
}).start();
    </script>
  </div>
  <%- include('footer') %> 
