<!DOCTYPE html>
<html>
<head>
  <title>Liste des Médecins</title>
  <link rel="stylesheet" href="/css/style_liste.css">
</head>
<body>
  <h1>Liste des Médecins</h1>

  <!-- Bouton pour aller vers le formulaire d'ajout -->
  <a href="/medecins/ajouter">Ajouter un médecin</a>
  <a href="/">Accueil</a>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de Téléphone</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <% medecins.forEach(medecin => { %>
        <tr>
          <td><%= medecin.Medecin_Id %></td>
          <td><%= medecin.Medecin_Nom %></td>
          <td><%= medecin.Medecin_Prenom %></td>
          <td><%= medecin.Medecin_NumeroTelephone %></td>
          <!-- Ajout du bouton "Modifier" pour chaque médecin -->
          <td>
            <form method="get" action="/medecins/modifier/<%= medecin.Medecin_Id %>">
              <button type="submit">Modifier</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
