<%- include('script_header') %> 

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
          <h3 class="text-success text-center mb-4">Modifier une ordonnance</h3>
          <form action="/pharmacie/ordonnances/modifier/<%= ordonnance.Ordonnance_Id %>" method="POST">
            <div class="mb-3">
              <label class="form-label" for="idMedecin">Médecin :</label>
              <select class="form-select" name="idMedecin" id="idMedecin" required>
                <option value="" selected disabled>Sélectionner un médecin</option>
                <% medecins.forEach(medecin => { %>
                  <option value="<%= medecin.Medecin_Id %>" <%= medecin.Medecin_Id === ordonnance.Ordonnance_IdMedecin ? 'selected' : '' %>><%= medecin.Medecin_Nom %> <%= medecin.Medecin_Prenom %></option>
                <% }); %>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="idPatient">Patient :</label>
              <select class="form-select" name="idPatient" id="idPatient" required>
                <option value="" selected disabled>Sélectionner un patient</option>
                <% patients.forEach(patient => { %>
                  <option value="<%= patient.Patient_Id %>" <%= patient.Patient_Id === ordonnance.Ordonnance_IdPatient ? 'selected' : '' %>><%= patient.Patient_Nom %> <%= patient.Patient_Prenom %></option>
                <% }); %>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="idMaladie">Maladie :</label>
              <select class="form-select" name="idMaladie" id="idMaladie" required>
                <option value="" selected disabled>Sélectionner une maladie</option>
                <% pathologies.forEach(pathologie => { %>
                  <option value="<%= pathologie.Maladie_Id %>" <%= pathologie.Maladie_Id === ordonnance.Ordonnance_IdMaladie ? 'selected' : '' %>><%= pathologie.Maladie_Nom %></option>
                <% }); %>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label" for="date">Date :</label>
              <input class="form-control" type="date" name="date" id="date" required value="<%= ordonnance.Ordonnance_Date %>">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
              <a href="/phrmacie/ordonnances" class="btn btn-secondary">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
