<!DOCTYPE html>
<html>
<head>
  <title>Modifier Patient</title>
  <link rel="stylesheet" href="/css/style_form.css">
</head>
<body>
  <h1>Modifier Patient</h1>

  <form action="/patients/modifier/<%= patient.Patient_Id %>" method="POST">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" value="<%= patient.Patient_Nom %>" required><br>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" value="<%= patient.Patient_Prenom %>" required><br>

    <label for="dateNaissance">Date de Naissance :</label>
    <input type="date" id="dateNaissance" name="dateNaissance" value="<%= patient.Patient_DateNaissance%>" required><br>

    <label for="numeroSecurite">Numéro de Sécurité :</label>
    <input type="text" id="numeroSecurite" name="numeroSecurite" value="<%= patient.Patient_NumeroSecurite %>" required><br>

    <label for="numeroTelephone">Numéro de Téléphone :</label>
    <input type="text" id="numeroTelephone" name="numeroTelephone" value="<%= patient.Patient_NumeroTelephone %>" required><br>

    <label for="idMutuelle">ID Mutuelle :</label>
    <input type="text" id="idMutuelle" name="idMutuelle" value="<%= patient.Patient_IdMutuelle %>" required><br>

    <input type="submit" value="Enregistrer les modifications">
  </form>
</body>
</html>
