<%- include('script_header') %> 

<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
          <h3 class="text-success text-center mb-4">Modifier un patient</h3>
          <form action="/patients/modifier/<%= patient.Patient_Id %>" method="POST">
            <div class="mb-3">
              <label class="form-label" for="nom">Nom :</label>
              <input class="form-control" type="text" id="nom" name="nom" value="<%= patient.Patient_Nom %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="prenom">Prénom :</label>
              <input class="form-control" type="text" id="prenom" name="prenom" value="<%= patient.Patient_Prenom %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="dateNaissance">Date de Naissance :</label>
              <input class="form-control" type="date" id="dateNaissance" name="dateNaissance" value="<%= patient.Patient_DateNaissance%>" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="numeroSecurite">Numéro de Sécurité :</label>
              <input class="form-control" type="text" id="numeroSecurite" name="numeroSecurite" value="<%= patient.Patient_NumeroSecurite %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="numeroTelephone">Numéro de Téléphone :</label>
              <input class="form-control" type="text" id="numeroTelephone" name="numeroTelephone" value="<%= patient.Patient_NumeroTelephone %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="idMutuelle">ID Mutuelle :</label>
              <input class="form-control" type="text" id="idMutuelle" name="idMutuelle" value="<%= patient.Patient_IdMutuelle %>" required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
              <a href="/patients" class="btn btn-secondary">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
