<%- include('script_header') %> 
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
          <h3 class="text-success text-center mb-4">Modifier un médecin</h3>
          <form action="/medecins/modifier/<%= medecin.Medecin_Id %>" method="POST">
            <div class="mb-3">
              <label class="form-label" for="nom">Nom :</label>
              <input class="form-control" type="text" name="nom" id="nom" required value="<%= medecin.Medecin_Nom %>">
            </div>
            <div class="mb-3">
              <label class="form-label" for="prenom">Prénom :</label>
              <input class="form-control" type="text" name="prenom" id="prenom" required value="<%= medecin.Medecin_Prenom %>">
            </div>
            <div class="mb-3">
              <label class="form-label" for="numeroTelephone">Numéro de Téléphone :</label>
              <input class="form-control" type="text" name="numeroTelephone" id="numeroTelephone" required value="<%= medecin.Medecin_NumeroTelephone %>">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
              <a href="/medecins" class="btn btn-secondary">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
