<%- include('header') %> 

  <div class="bg-light flex-fill">
    <div class="p-2 d-md-none d-flex text-white bg-success">
        <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
            <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="p-4">
        <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
                <li class="breadcrumb-item">Vue globale</li>
                <li class="breadcrumb-item">ordonnances</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between">
            <h5>Ordonnances</h5>
        </div>
        <hr>
      <div class="container">
        <div class="row">
            <div class="col">
              <table class="table table-striped mx-auto">
                <thead class="table-success text-dark">
                  <tr>
                    <th>ID</th>
                    <th>Médecin</th>
                    <th>Patient</th>
                    <th>Maladie</th>
                    <th>Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% ordonnances.forEach(ordonnance => { %>
                    <tr>
                      <td><%= ordonnance.Ordonnance_Id %></td>
                      <td><%= ordonnance.MedecinNom %></td>
                      <td><%= ordonnance.PatientNom %></td>
                      <td><%= ordonnance.MaladieNom %></td>
                      <td><%= ordonnance.FormattedDate %></td>
                      <td>
                        <div class="btn-group">
                          <form method="get" action="/ordonnances/modifier/<%= ordonnance.Ordonnance_Id %>">
                            <button class="btn btn-link btn-sm" type="submit"><i class="fas fa-pen-to-square"></i></button>
                          </form>
                          <form method="post" action="/ordonnances/supprimer/<%= ordonnance.Ordonnance_Id %>">
                            <button id ="boutonsModifer" class="btn btn-link btn-sm" type="submit"><i class="fas fa-times"></i></button>
                          </form>
                        </div>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              
              <br>
              <hr>

              <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
                          <h3 class="text-success text-center mb-4">Ajouter une ordonnance</h3>
                          <form action="/ordonnances/ajouter" method="POST">
                            <div class="mb-3">
                              <label class="form-label" for="Medecin">Médecin :</label>
                              <select class="form-select" name="idMedecin" id="idMedecin" required>
                                <option value="" selected disabled>Sélectionner un médecin</option>
                                <% medecins.forEach(medecin => { %>
                                  <option value="<%= medecin.Medecin_Id %>"><%= medecin.Medecin_Nom %> <%= medecin.Medecin_Prenom %></option>
                                <% }); %>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="idPatient">Patient :</label>
                              <select class="form-select" name="idPatient" id="idPatient" required>
                                <option value="" selected disabled>Sélectionner un patient</option>
                                <% patients.forEach(patient => { %>
                                  <option value="<%= patient.Patient_Id %>"><%= patient.Patient_Nom %> <%= patient.Patient_Prenom %></option>
                                <% }); %>
                              </select>
                              
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="idMaladie">Maladie :</label>
                              <select class="form-select" name="idMaladie" id="idMaladie" required>
                                <option value="" selected disabled>Sélectionner une maladie</option>
                                <% pathologies.forEach(pathologie => { %>
                                  <option value="<%= pathologie.Maladie_Id %>"><%= pathologie.Maladie_Nom %></option>
                                <% }); %>
                              </select>
                              
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="date">Date :</label>
                              <input class="form-control" type="date" name="date" id="date" required>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="duree">Durée de la posologie (en jours) :</label>
                              <input class="form-control" type="number" name="duree" id="duree" required>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="idMedicament">Médicament :</label>
                              <select class="form-select" name="idMedicament" id="idMedicament" required>
                                <option value="" selected disabled>Sélectionner un médicament</option>
                                <% medicaments.forEach(medicament => { %>
                                  <option value="<%= medicament.Medicament_Id %>"><%= medicament.Medicament_Nom %></option>
                                <% }); %>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label class="form-label" for="quantiteMedicament">Quantité de médicament :</label>
                              <input class="form-control" type="number" name="quantiteMedicament" id="quantiteMedicament" required>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
      </div>
    </div>
    
  </div>
  <%- include('footer') %> 


