<!-- patients.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Liste des Patients</title>
  <link rel="stylesheet" href="/css/style_liste.css">
</head>
<body>
  <h1>Liste des Patients</h1>
  <button type="button" onclick="window.location.href = '/'">Accueil</button>

    <button type="button" onclick="window.location.href = '/patients/ajouter'">Ajouter</button>
    <br>
    <br>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de Naissance</th>
        <th>Numéro de sécurité sociale</th>
        <th>Numéro de téléphone</th>
        <th>Id mutuelle</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% patients.forEach(patient => { %>
        <tr>
          <td><%= patient.Patient_Id %></td>
          <td><%= patient.Patient_Nom %></td>
          <td><%= patient.Patient_Prenom %></td>
          <td><%= patient.Patient_DateNaissance %></td>
          <td><%= patient.Patient_NumeroSecurite %></td>
          <td><%= patient.Patient_NumeroTelephone %></td>
          <td><%= patient.Patient_IdMutuelle %></td>

          <td>
            <!-- Formulaire pour le bouton "Modifier" -->
            <div class="button-group"> 
              <form method="get" action="/patients/modifier/<%= patient.Patient_Id%>">
                <button type="submit">Modifier</button>
              </form>
              <!-- Formulaire pour le bouton "Supprimer" -->
              <form method="post" action="/patients/supprimer/<%= patient.Patient_Id%>">
                <button type="submit">Supprimer</button>
              </form>
            </div>
          </td>

        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
