<%- include('header') %> 

      <div class="bg-light flex-fill">
        <div class="p-2 d-md-none d-flex text-white bg-success">
            <a href="#" class="text-white" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <div class="p-4">
            <nav style="--bs-breadcrumb-divider:'>';font-size:14px">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></li>
                    <li class="breadcrumb-item">Vue globale</li>
                    <li class="breadcrumb-item">patients</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between">
                <h5>Patients</h5>
            </div>
            <hr>
          <div class="container">
            <div class="row">
                <div class="col">
                  <table class="table table-striped mx-auto">
                    <thead class="table-success text-dark">
                      <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>N° Sécurité sociale</th>
                        <th>N° de téléphone</th>
                        <th>Mutuelle</th>
                        <th>Actions</th>

                      </tr>
                    </thead>
                    <tbody>
                      <% patients.forEach(patient => { %>
                        <tr>
                          <td><%= patient.Patient_Id %></td>
                          <td><%= patient.Patient_Nom %></td>
                          <td><%= patient.Patient_Prenom %></td>
                          <td><%= patient.Patient_DateNaissance %></td>
                          <td><%= patient.Patient_NumeroSecurite %></td>
                          <td><%= patient.Patient_NumeroTelephone %></td>
                          <td>
                            <% mutuelles.forEach(mutuelle => {
                              if (mutuelle.Mutuelle_Id === patient.Patient_IdMutuelle) { %>
                                <%= mutuelle.Mutuelle_Nom %>
                            <% }}); %>
                          </td>
                          <td>
                            <div class="btn-group">
                              <form method="get" action="/patients/modifier/<%= patient.Patient_Id %>">
                                <button class="btn btn-link btn-sm" type="submit"><i class="fas fa-pen-to-square"></i></button>
                              </form>
                              <form method="post" action="/patients/supprimer/<%= patient.Patient_Id %>">
                                <button id ="boutonsModifer" class="btn btn-link btn-sm" type="submit"><i class="fas fa-times"></i></button>
                              </form>
                            </div>
                          </td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                  
                  <br>
                  <hr>

                  <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
                                <h3 class="text-success text-center mb-4">Ajouter un patient</h3>
                                <form action="/patients/ajouter" method="POST">
                                  <div class="mb-3">
                                    <label class="form-label" for="nom">Nom :</label>
                                    <input class="form-control" type="text" name="nom" id="nom" required>
                                    <% if (typeof errors !== 'undefined' && errors.includes('Le nom saisi est invalide.')) { %>
                                      <div class="invalid-feedback" style="display: block;">
                                        Le nom saisi est invalide.
                                      </div>
                                    <% } %>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="prenom">Prenom :</label>
                                    <input class="form-control" type="text" name="prenom" id="prenom" required>
                                    <% if (typeof errors !== 'undefined' && errors.includes('Le prénom saisi est invalide.')) { %>
                                      <div class="invalid-feedback" style="display: block;">
                                        Le prénom saisi est invalide.
                                      </div>
                                    <% } %>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="dateNaissance">Date de Naissance :</label>
                                    <input class="form-control" type="date" name="dateNaissance" id="dateNaissance" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="numeroSecurite">Numéro de sécurité sociale :</label>
                                    <input class="form-control" type="text" name="numeroSecurite" id="numeroSecurite" required>
                                    <% if (typeof errors !== 'undefined' && errors.includes('Le numéro de sécurité sociale doit contenir exactement 13 chiffres.')) { %>
                                      <div class="invalid-feedback" style="display: block;">
                                        Le numéro de sécurité sociale doit contenir exactement 13 chiffres.                                      </div>
                                    <% } %>
                                    
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="numeroTelephone">Numéro de téléphone :</label>
                                    <input class="form-control" type="text" name="numeroTelephone" id="numeroTelephone" required>
                                    <% if (typeof errors !== 'undefined' && errors.includes('Le numéro de téléphone doit contenir 10 chiffres et commencer par 06 ou 07.')) { %>
                                      <div class="invalid-feedback" style="display: block;">
                                        Le numéro de téléphone doit contenir 10 chiffres et commencer par 06 ou 07.
                                      </div>
                                    <% } %>
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="idMutuelle">Mutuelle :</label>
                                  <select class="form-select" name="idMutuelle" id="idMutuelle" required>
                                    <option value="" selected disabled>Sélectionner une mutuelle</option>
                                    <% mutuelles.forEach(mutuelle => { %>
                                      <option value="<%= mutuelle.Mutuelle_Id %>"><%= mutuelle.Mutuelle_Nom %></option>
                                    <% }); %>
                                  </select>
                                </div>
                              
                                <!-- ... Autres champs du formulaire ... -->
                              
                                <div class="text-center">
                                  <button type="submit" class="btn btn-success">Ajouter</button>
                                </div>
                              </form>
                            </div>
                            
                        </div>
                    </div>
                </div>

                </div>
            </div>
          </div>
        </div>
      </div>
<%- include('footer') %> 


    